@mixin display-advanced($display: block) {
    display: none !important;

    .rhinox-data-table-advanced-enabled & {
        display: $display !important;
    }
}

.rhinox-data-table-wrapper {
    position: relative;

    @import 'table-buttons';
    @import 'filter';
    @import 'footer';

    thead {
        .rhinox-data-table-search-bar {
            @include display-advanced(table-row);

            .rhinox-data-table-col-filter {
                padding: 0;
                margin: 0;

                .input-group {
                    min-width: 100px;
                }

                .form-control,
                .custom-select {
                    border: 0;
                    border-radius: 0;
                }

                .dropdown-toggle {
                    border: 0;
                    border-right: 1px solid #dee2e6;
                    border-radius: 0;
                }
            }

            // .rhinox-data-table-col-filter-first {
            //     padding: 8px;
            //     white-space: nowrap;
            // }
        }
    }

    tbody {
        tr:last-child {
            td {
                border-bottom-width: 3px;
            }
        }
    }

    tfoot {
        td {
            border-top-width: 0px;
            border-bottom-width: 1px;
        }
    }

    &.rhinox-data-table-processing {
        table {
            opacity: 0.5;
        }
    }

    .rhinox-data-table {
        width: 100% !important;
        margin-bottom: 0 !important;
    }

    .rhinox-data-table-scroll {
        overflow: auto;
        min-height: 400px;
        border-bottom: 1px solid #dee2e6;
    }

    .rhinox-data-table-page-size {
        width: 70%;
        float: left;
    }

    .rhinox-data-table-search {
        width: 30%;
        float: right;
    }

    .rhinox-data-table-count {
        width: 50%;
        float: left;
    }

    .rhinox-data-table-pagination {
        width: 50%;
        float: right;
    }

    .rhinox-data-table-number {
        font-variant-numeric: tabular-nums;
        font-feature-settings: "tnum" on;
        white-space: nowrap;
    }

    .rhinox-data-table-align-right {
        text-align: right;
    }

    .rhinox-data-table-nowrap {
        white-space: nowrap;
    }

    .rhinox-data-table-nowrap > * {
        display: inline-block;
    }

    .rhinox-data-table-right {
        display: flex;
        justify-content: flex-end;
        align-items: end;
    }

}
