.rhinox-data-table-footer {
    display: flex;
    // align-items: center;

    .rhinox-data-table-paginate {
        margin-top: 2px;

        .pagination {
            flex-wrap: wrap;
            margin: 0 !important;
        }
    }

    .rhinox-data-table-length {
        @include display-advanced;
        margin-top: 2px;
        margin-right: 10px;
        margin-left: 10px;

        label {
            margin: 0;
            font-weight: normal;
            text-align: left;
            white-space: nowrap;
        }

        select {
            width: auto;
            display: inline-block;
        }
    }

    .rhinox-data-table-info {
        flex: 1;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        white-space: nowrap;
    }

    @media (max-width: 720px) {
        flex-direction: column;

        .rhinox-data-table-paginate {
            width: 100%;

            .pagination {
                justify-content: center;
            }
        }

        .rhinox-data-table-length {
            width: 100%;
            text-align: center;
        }

        .rhinox-data-table-info {
            width: 100%;
            text-align: center;
        }
    }
}