.rhinox-data-table-buttons {
    display: flex;
    flex-wrap: wrap;

    .dropdown-menu {
        padding: 0;
    }

    >.btn,
    >.btn-group>.btn,
    .rhinox-data-table-buttons {
        margin-right: 4px;
        margin-bottom: 4px;
    }

    .rhinox-data-table-advanced-button {
        @include display-advanced(inline-block);
    }

    @media (max-width: 720px) {
        >.btn,
        >.btn-group>.btn,
        .rhinox-data-table-buttons {
            display: block;
            width: 100%;
            border-radius: 0;
            margin: 0;
        }

        >.btn-group,
        .dt-button-collection,
        .dropdown-menu {
            width: 100%;
            text-align: center;
        }
    }
}