<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="phpunit-bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false">
    <testsuites>
        <testsuite name="base">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./classes</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="xdebug.var_display_max_depth" value="10"/>
        <ini name="xdebug.var_display_max_children" value="256"/>
        <ini name="xdebug.var_display_max_data" value="10000"/>
    </php>
</phpunit>
